
.cart-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
  
}
.back-button-container {
  width: 100%;
  margin: 20px 0;
  margin-left: 30px;
}

.back-button {
  background: none;
  border: none;
  color: #0EA5E9;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  padding: 6px 0;
  transition: 0.2s ease;
}

.back-button:hover {
  text-decoration: underline;
  color: #0284C7; /* slightly darker blue on hover */
}

@media (max-width: 768px) {
  .cart-page-container {
    flex-direction: column;
    gap: 40px;
    padding: 40px;
  }
}
