.best-deals {
  width: min(95%, 1400px);
  margin: 30px auto;
  font-family: Arial, sans-serif;
  color: #111;
  padding: 40px 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.best-deals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 18px;
}
.best-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.best-left h2 {
  font-size: clamp(20px, 2.4vw, 28px);
  margin-bottom: 6px;
  font-weight: 600;
  margin: 0;
}

.best-left p {
  color: #666;
}
.deals-text {
  color: #666;
}
.deals-timer-text {
  background-color: #f3de6d;
  font-size: clamp(9px, 1vw, 14px);
}

.browse-btn {
  background: none;
  border: none;
  color: #0ea5e9;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}
.browse-btn:hover {
  text-decoration: underline;
}

.best-deal-body {
  min-height: 120px;
}

.loading,
.no-products {
  padding: 30px;
  text-align: center;
  color: #666;
}

.deals-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 240px;
}

.deal-card {
  background: #fff;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  transition: transform 0.18s ease, box-shadow 0.18s ease;
}

.deal-card:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.deal-card.big-tile {
  grid-row: span 2;
  display: flex;
}

.deal-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 5;
}

.deal-card:hover::after {
  opacity: 1;
  visibility: visible;
}

.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 6px 10px;
  font-weight: 700;
  font-size: 12px;
  z-index: 2;
}

.badge.discount {
  background: #efd33d;
}
.badge.sold {
  background: #929fa5;
  color: white;
}
.badge.hot {
  background: #0b74d1;
}

.img-wrap {
  flex: 1 0 10%;
  width: 300px;
  max-width: 100%;
  max-height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  padding: 10px;
}

.img-wrap img {
  max-width: 100%;
  max-height: 150%;
  object-fit: contain;
  border-radius: 6px;
}

.deal-info {
  padding: 10px;
  background: white;
}

.deal-info h3 {
  font-size: 15px;
  margin-bottom: 6px;
  line-height: 1.15;
  max-height: 2.4em;
  overflow: hidden;
}

.short-desc {
  font-size: 13px;
  color: #666;
  margin-bottom: 8px;
  min-height: 36px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 8px;
}

.stars-yellow {
  color: #ebc80c;
}

.rating-num {
  color: #6b7280;
  font-size: 14px;
}

.short-desc {
  font-size: 14px;
  color: #6b7280;
  margin: 0 0 12px 0;
  line-height: 1.5;
}

.rating-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.stars {
  display: flex;
  gap: 4px;
}

.star {
  font-size: 18px;
  color: #fa8232;
}

.star.filled {
  color: #fa8232;
}

.rating-value {
  font-size: 14px;
  font-weight: 600;
  color: #111;
}

.feedback-count {
  font-size: 13px;
  color: #6b7280;
}

.qv-meta-info {
  margin: 15px 0 20px;
  font-size: 15px;
  color: #374151;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  gap: 6px;
}

.row-line {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}

.key {
  font-weight: 400;
  color: #4b5563;
  font-size: 14px;
}

.value {
  color: #111827;
}

.divider {
  margin: 0 4px;
  color: #9ca3af;
}

.in-stock {
  color: #10b981;
  font-weight: 600;
}

.out-stock {
  color: #ef4444;
  font-weight: 600;
}

.meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  min-width: 0;
}

.price-section {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
}

.old-price {
  color: #9ca3af;
  text-decoration: line-through;
  font-size: 14px;
}

.price {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.big-tile .price {
  font-size: 24px;
}

.big-tile-actions {
  margin-top: 16px;
  display: flex;
  gap: 12px;
}

.icon-btn {
  flex: 1;
  padding: 12px;
  border: 1px solid #e5e7eb;
  background: #ffe7d6;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.icon-btn:hover {
  background: #f9fafb;
}

.add-to-cart-btn {
  flex: 3;
  padding: 12px;
  border: none;
  background: #ff8a3d;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.add-to-cart-btn:hover {
  background: #f97316;
}

.category-block {
  margin-bottom: 40px;
}

.cat-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.browse-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.deal-card-icons {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  gap: 6px;
  top: 45%;
  left: 10%;
  justify-content: center;
  justify-items: center;
  font-size: 24px;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s ease;

  z-index: 999;
}

.deal-card:hover .deal-card-icons {
  opacity: 1;
  visibility: visible;
}

/* each icon button */
.deal-card-icons button {
  width: 60px;
  height: 65px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #ddd;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  color: #000;

  cursor: pointer;
  transition: 0.2s ease;
}

.deal-card-icons button:hover {
  background: #fa8232;
  color: #ffffff;
  border-color: #fa8232;
}

@media (max-width: 480px) {
  .deal-card-icons button {
    width: 34px;
    height: 34px;
    font-size: 16px;
  }
  .badge {
    font-size: 6px;
    padding: 0;
  }
  .best-deals-header {
    align-items: flex-start;
    gap: 10px;
  }

  .best-left {
    display: flex;
    gap: 4px;
  }

  .best-deals-header h2 {
    font-size: 18px;
  }

  .deals-text,
  .deals-timer-text {
    font-size: 9px;
  }

  .browse-btn {
    width: 100%;
    text-align: center;
    padding: 5px 7px;
    font-size: 9px;
    align-items: flex-end;
  }
}

.quickview-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.quickview {
  background: white;
  border-radius: 12px;
  padding: 40px;
  max-width: 900px;
  width: 90%;
  max-height: 90vh;
  overflow: visible;
  position: relative;
  display: flex;
  gap: 40px;
}

.qv-close {
  position: absolute;
  top: -18px;
  right: -30px;

  width: 30px;
  height: 40px;
  border-radius: 50%;
  background: rgba(96, 95, 95, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
  transition: 0.25s ease;

  z-index: 1010;
}

.qv-close:hover {
  background: #ef4444;
  border-color: #ef4444;
  color: #fff;
}

.qv-left {
  flex: 1;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 8px;
}

.qv-left img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.qv-right {
  flex: 1;
}

.qv-right h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;
}

.qv-desc {
  color: #6b7280;
  margin-bottom: 20px;
  line-height: 1.6;
}

.qv-meta {
  margin-bottom: 24px;
}

.qv-price {
  font-size: 32px;
  font-weight: 600;
  color: #111827;
  display: inline-block;
}

.qv-discount {
  margin-left: 12px;
  color: #ef4444;
  font-weight: 500;
  display: inline-block;
}

.qv-actions {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.qv-actions label {
  font-weight: 500;
}
.qv-badge {
  position: static !important;
  display: inline-block;
  margin-left: 15px;
  font-size: 13px;
  padding: 4px 8px;
}
.qty-selector {
  display: flex;
  align-items: center;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
}

.qty-selector button {
  padding: 8px 16px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 24px;
  color: black;
}

.qty-display {
  padding: 0 16px;
  font-weight: 600;
}

.btn-primary {
  display: flex;
  /* flex: 1; */
  padding: 16px;
  border: none;
  background: #ff8a3d;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  gap: 10px;
}

.btn-primary:hover {
  background: #f97316;
}

.btn-secondary {
  flex: 1;
  padding: 10px;
  border: 2px solid #ff8a3d;
  background: white;
  color: #ff8a3d;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.btn-secondary:hover {
  background: #fff7ed;
}

.loading {
  text-align: center;
  padding: 40px;
  font-size: 18px;
  color: #6b7280;
}

@media (min-width: 2560px) {
  .best-deals {
    max-width: 2200px;
    width: 90%;
  }

  .deals-grid {
    grid-auto-rows: minmax(280px, 320px);
  }
}

@media (min-width: 1400px) and (max-width: 2559px) {
  .deals-grid {
    grid-auto-rows: minmax(200px, 240px);
  }
}

@media (max-width: 1399px) {
  .deals-grid {
    grid-auto-rows: minmax(180px, 220px);
  }
  .best-deals-header {
    gap: 15px;
    margin-bottom: 16px;
  }
}

@media (max-width: 1023px) {
  .deals-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(160px, 200px);
  }

  .deal-card.big-tile {
    grid-row: span 2;
  }
}

@media (max-width: 767px) {
  .best-deals {
    width: 98%;
    padding: clamp(15px, 3vw, 30px);
    margin: clamp(15px, 3vw, 20px) auto;
    transform-origin: top center;
  }
  .best-deals-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 14px;
  }

  .deals-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(120px, 160px);
  }

  .deal-card.big-tile {
    grid-row: span 2;
  }

  .img-wrap {
    padding: clamp(5px, 1.5vw, 15px);
  }

  .deal-info {
    padding: clamp(5px, 1.5vw, 12px);
    font-size: clamp(10px, 2vw, 14px);
  }
}

@media (max-width: 480px) {
  .best-deals {
    width: 98%;
    padding: clamp(10px, 2vw, 20px);
    margin: clamp(10px, 2vw, 18px) auto;
  }
  .best-deals-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .best-deals-header h2 {
    font-size: 1.1rem;
  }
  .deals-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(80px, 120px);
  }

  .deal-card.big-tile {
    grid-row: span 2;
  }

  .img-wrap {
    padding: clamp(3px, 1vw, 10px);
  }

  .deal-info {
    padding: clamp(3px, 1vw, 10px);
    font-size: clamp(8px, 1.8vw, 12px);
  }

  .deal-info h3 {
    font-size: clamp(8px, 1.8vw, 12px);
  }
  .price {
    font-size: 8px;
  }

  .big-tile .price {
    font-size: 12px;
  }

  .quickview {
    width: 96%;
  }
}

@media (max-width: 325px) {
  .deals-grid {
    grid-auto-rows: minmax(60px, 90px);
  }
  .best-deals-header {
    gap: 8px;
  }

  .best-deals-header h2 {
    font-size: 1rem;
  }

  .img-wrap {
    padding: 2px;
  }

  .deal-info {
    padding: 4px;
    font-size: 8px;
  }
}
