.carousel-container {
  width: 90%;
  margin: 30px auto;
  overflow: visible;
  position: relative;
  padding: 10px 0;
}

.carousel-heading {
  margin-bottom: 15px;
  text-align: center;
}

.heading {
  font-family: public-sans;
  font-weight: 600;
  font-size: 32px;
  color: #191c1f;
}

.carousel-box {
  position: relative;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  gap: 10px;
  transition: transform 0.4s ease;
}

.product-card {
  background: #fff;
  border-radius: 4px;
  padding: 12px;
  border: 1px solid #e5e5e5;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  flex: 0 0 13.66%;
  max-width: 14.66%;
}

.product-card img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}

.product-card h4 {
  font-size: 14px;
  margin-top: 8px;
  font-weight: 500;
  color: #333;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fa8232;
  width: 45px;
  height: 45px;
  cursor: pointer;
  border: none;
  color: white;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 10;
}

.carousel-btn:hover {
  background: #000;
  color: white;
}

.carousel-btn.prev {
  left: 5px;
}

.carousel-btn.next {
  right: 5px;
}

@media (max-width: 1399px) {
  .product-card {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (max-width: 1023px) {
  .product-card {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

@media (max-width: 767px) {
  .product-card {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
